@import '../../styles/variables.scss';
@import '../../styles/extend.scss';

.btn {
  padding: 15px 20px;
  background-color: $color-btn;
  border-radius: 7px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
  color: $color-main;
  transition: all $transition;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;

  &:hover {
    @extend .shadow;
    transform: scale(1.03);
  }
  &__text {
    display: block;
  }
  &--connect {
    width: 100px;
  }
}
.btn--game {
  min-width: 100px;
  height: 56px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $transition;
  text-decoration: none;
  font-family: "Keneda";
  font-size: 60px;
  font-weight: 800;
  line-height: 26px;
  cursor: pointer;
  @media (max-width: 992px) {
    font-size: 30px;
  }
  @media (max-width: 481px) {
    font-size: 18px;
  }
  &:hover {
    @extend .shadow;
    transform: scale(1.03);
  }
}

@media (max-width: 992px) {
  .btn {
    width: 100%;
    &__text {
      display: none;
      &--phone {
        display: flex;
      }
    }
  }
}
