@import '../../styles/variables.scss';

.header {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: $color-main;
  z-index: 101;
  &__nav-web {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
    }
  }
  &__nav-phone {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    &__wrapper {
      position: relative;
      background-color: $color-main;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 20;
    }
  }
}
@media (max-width: 992px) {
  .header {
    height: 78px;
    &__wrapper {
      padding: 0 20px;
    }
    &__nav-web {
      display: none;
    }
    &__nav-phone {
      display: block;
      position: static;
      z-index: 99;
    }
  }
}
