.burger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 101;

  &__element {
    width: 30px;
    height: 2px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: all 0.3s linear;
    transform-origin: 1px;

    &:first-child {
      transform: rotate(0);
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: rotate(0);
    }
  }

  &.open {
    div {
      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-40px);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}
  