@import './styles/variables.scss';
@import './styles/extend.scss';

 @font-face {
  font-family: "Archivo";
  src: url("./fonts/Archivo_Expanded-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: "Keneda";
  src: url("./fonts/fonnts.com-Kaneda_Gothic_Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: "Proxima-reg";
  src: url("./fonts/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }
 @font-face {
  font-family: "Proxima-bold";
  src: url("./fonts/Mark\ Simonson\ \ Proxima\ Nova\ Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-main;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// reused classes
.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.main-padding {
  padding-bottom: 60px;
  @media (max-width: 992px) {
    padding-bottom: 30px;
  }
}

// section classes
.App {
  height: 100%;
}
.main {
  position: relative;
  width: 100%;
  background-image: url('./image/banner-main.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__wrapper {
    display: flex;
    align-items: end;
  }
  &__person-img {
    position: relative;
    width: 90%;
    object-fit: cover;
    z-index: 1;
  }
}
.tokenomics {
  width: 100%;
  position: relative;
  padding-top: 60px;
  @media (max-width: 992px) {
    padding-top: 30px;
  }
  &__bg {
    display: flex;
    align-items: end;
    padding: 40px;
    width: 100%;
    min-height: 823px;
    background-image: url('./image/banner-tokenomic.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @extend .shadow;
    @media (max-width: 992px) {
      padding: 32px 20px;
      min-height: 100%;
      background-image: none;
      box-shadow: none;
    }
    &--phone{
      display: none;
      width: 100%;
      height: 400px;
      background-image: url('./image/banner-tokenomic.jpg');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      @media (max-width: 992px) {
        display: block;
      }
      @media (max-width: 700px) {
        height: 320px;
      }
      @media (max-width: 480px) {
        height: 220px;
      }
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: 992px) {
      gap: 10px;
    }
  }
}
.game {
  width: 100%;
  background: #000;
  height: 760px;
  @media (max-width: 1100px) {
    height: 550px;
  }
  @media (max-width: 786px) {
    height: 300px;
  }
  @media (max-width: 570px) {
    height: 220px;
  }
  &__bg {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 22;
  }
  &__person {
    position: absolute;
    left: 0;;
    object-fit: contain;
    height: 100%;
    z-index: 20;
  }
  &__btn-blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 50%;
    @media (max-width: 570px) {
      width: 60%;
    }
  }
  &__img {
    width: 100%;
    object-fit: contain;
    @media (max-width: 768px) {
      width: 280px;
    }
    @media (max-width: 570px) {
      width: 180px;
    }
  }
  & .btn--game {
    width: 359px;
    height: 94px;
    padding: 15px 25px;
    background-color: rgba(254, 20, 33, 1);
    border-radius: 20px;
    color: $color-btn;
    z-index: 22;
    @media (max-width: 992px) {
      width: 220px;
      height: 74px;
      padding: 15px 25px;
    }
    @media (max-width: 570px) {
      width: 180px;
      height: 48px;
    }
  }
}
.swap {
  padding-top: 60px;
  @media (max-width: 992px) {
    padding-top: 30px;
  }
  &__wrapper-bg {
    width: 100%;
    height: 567px;
    padding: 15px 80px;
    background-image: url('./image/buner-swap.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend .shadow;

    @media (max-width: 992px) {
      height: 650px;
      padding: 20px;
    }
  }
  &__box {
    width: 567px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
.phases {
  &__wrapper {
    position: relative;
    display: flex;
    padding: 0 10px;
    @media (max-width: 780px) {
      padding: 0 0 80px 25px;
    }
  }
  & .swiper-button-prev,
  & .swiper-button-next {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: rgba(0, 121, 255, 1);
    @media (max-width: 780px) {
      top: 96%;
    }
  }
  & .swiper-button-prev::after,
  & .swiper-button-next::after {
    font-size: 22px;
    color: $color-btn;
  }
  & .swiper {
    margin-left: 80px;
    @media (max-width: 780px) {
      margin-left: 0;
    }
  }
  &__nav-btns {
    @media (max-width: 780px) {
      position: absolute;
      width: 180px;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.footer {
  position: relative;
  padding: 110px 70px;
  width: 100%;
  min-height: 220px;
  background-image: url('./image/footer.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  @media (max-width: 1201px) {
    padding: 40px 50px;

  }
  @media (max-width: 992px) {
    padding: 30px;
  }
  @media (max-width: 480px) {
    padding: 20px;
  }
  &__wrapper {
    position: relative;
    z-index: 10;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    font-family: "Proxima-reg";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
    color: $color-btn;
    @media (max-width: 992px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  &__input {
    margin-bottom: 67px;
    width: 100%;
    @media (max-width: 992px) {
      margin-bottom: 20px;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__detox {
    margin-left: 20px;
    & > img {
      object-fit: contain;
      width: 230px;
      @media (max-width: 992px) {
        width: 120px;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 24, 44, 0.62);
    z-index: 1;
  }
}
